@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  background: #ffac2e; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #5c38ff, #ffac2e);
  background: -moz-linear-gradient(right, #5c38ff, #ffac2e);
  background: -o-linear-gradient(right, #5c38ff, #ffac2e);
  background: linear-gradient(to left, #5c38ff, #ffac2e);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* forms */
.form-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

#signup {
  display: none;
}

.form label {
  display: none;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  color: #333;
  background: rgba(240, 238, 238, 0.534);
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  margin: 15px 0 0;
  color: #847c7c;
  font-size: 1rem;
}
.form .message a {
  color: #ff9800;
  text-decoration: none;
  cursor: pointer;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}

/* contacts page */
div.table-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1442px;
  margin: 2em auto;
}

div.table-menu input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  color: #333;
  background: rgba(240, 238, 238, 0.534);
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Table Styles */

.table-fill {
  border-radius: 5px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  animation: float 5s infinite;
}
.tableFixHead {
  overflow-y: auto;
  height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.tableFixHead::-webkit-scrollbar {
  display: none;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #d5dde5;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 10px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  background: rgba(7, 7, 7, 0.8);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  cursor: pointer;
}
span#id {
  display: none;
}

th:first-child {
  border-top-left-radius: 5px;
}

th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  white-space: nowrap;
  cursor: pointer;
}

tr:hover td {
  background: #4e5066;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #4e5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

td {
  background: #ffffff;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td a {
  text-decoration: none;
  color: inherit;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/* not found */
.notfound {
  width: 800px;
  margin: auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  padding: 60px;
  text-align: center;
}

.notfound h1 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  z-index: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  /* background: rgba(255, 255, 221, 0.877); */
  background: rgba(240, 238, 238, 0.534);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.popup .close:hover {
  color: #ff9800;
}
.popup .content {
  color: #333;
  max-height: 30%;
  overflow: auto;
  margin-bottom: 2em;
}

/* misc */
.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #ff9900c9;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  opacity: 0.7;
}

.btn-fluid {
  width: 100%;
}

.blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 1458px) {
  .zip {
    display: none;
  }
}

@media only screen and (max-width: 1330px) {
  .country {
    display: none;
  }
}

@media only screen and (max-width: 1204px) {
  .city {
    display: none;
  }
}

@media only screen and (max-width: 1038px) {
  .street {
    display: none;
  }
}

@media only screen and (max-width: 798px) {
  .mail {
    display: none;
  }
}

@media only screen and (max-width: 798px) {
  .mail {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #add span {
    display: none;
  }
  #add::after {
    content: "NEW";
  }

  #delete span {
    display: none;
  }
  #delete::after{
    content: "DELETE";
  }
}

@media only screen and (max-width: 512px) {
  .phone {
    display: none;
  }
}
