{{> header.html}}

<div class="table-menu">
  <form class="shadow" action="/contacts/search">
    <input
      placeholder="Search 🔎"
      type="text"
      name="q"
      aria-label="Search query"
      value="{{query}}"
    />
  </form>
  <a id="add" class="btn blur shadow" href="/contacts/add"><span>ADD NEW</span></a>
  <a id="delete" class="btn blur shadow" onclick="showModal()"><span>DELETE SELECTED</span></a>
  <a class="btn blur shadow" href="/logout">logout</a>
</div>
<form method="POST">
  <div class="tableFixHead shadow">
    <table class="table-fill" id="table">
      <thead>
        <tr>
          <th class="text-left"></th>
          <th class="text-left" onclick="sortTable(1)">Firstname ⇅</th>
          <th class="text-left" onclick="sortTable(2)">Lastname ⇅</th>
          <th class="text-left street" onclick="sortTable(3)">Street ⇅</th>
          <th class="text-left city" onclick="sortTable(4)">City ⇅</th>
          <th class="text-left zip" onclick="sortTable(5)">Zip ⇅</th>
          <th class="text-left country" onclick="sortTable(6)">Country ⇅</th>
          <th class="text-left phone">Phone</th>
          <th class="text-left mail" onclick="sortTable(8)">E-Mail ⇅</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        {{#contacts}}
        <tr>
          <td class="text-left">
            <input type="checkbox" id="{{id}}" name="{{id}}" value="{{id}}" />
            <label for="{{id}}"></label>
          </td>
          <td class="text-left" onclick="redirectToEdit({{id}})">
            {{firstname}}
          </td>
          <td class="text-left" onclick="redirectToEdit({{id}})">
            {{lastname}}
          </td>
          <td class="text-left street" onclick="redirectToEdit({{id}})">
            {{street}}
          </td>
          <td class="text-left city" onclick="redirectToEdit({{id}})">
            {{city}}
          </td>
          <td class="text-left zip" onclick="redirectToEdit({{id}})">
            {{zip}}
          </td>
          <td class="text-left country" onclick="redirectToEdit({{id}})">
            {{country}}
          </td>
          <td class="text-left phone"><a href="tel:{{phone}}">{{phone}}</a></td>
          <td class="text-left mail"><a href="mailto:{{mail}}">{{mail}}</a></td>
        </tr>
        {{/contacts}}
      </tbody>
    </table>
  </div>
  <div id="confirm" class="overlay">
    <div class="popup blur shadow">
      <h2>Confirmation</h2>
      <a class="close" onclick="hideModal()">&times;</a>
      <div class="content">
        Would you like to delete the selected contact(s)?
      </div>
      <button class="btn">delete</button>
    </div>
  </div>
</form>

{{> footer.html}}
