{{>header.html}}
<div class="form-page">
  <div class="form blur shadow">
    <form method="POST">
      {{# contact}}
      <label for="username">firstname</label>
      <input type="text" value="{{firstname}}" name="firstname" required />

      <label for="lastname">lastname</label>
      <input type="text" value="{{lastname}}" name="lastname" required />

      <label for="street">street</label>
      <input type="text" value="{{street}}" name="street" />

      <label for="city">city</label>
      <input type="text" value="{{city}}" name="city" />

      <label for="zip">zip</label>
      <input type="text" value="{{zip}}" name="zip" />

      <label for="country">country</label>
      <input type="text" value="{{country}}" name="country" />

      <label for="street">phone</label>
      <input type="tel" value="{{phone}}" name="phone" />

      <label for="street">mail</label>
      <input type="eamil" value="{{mail}}" name="mail" />

      <button class="btn blur btn-fluid">update</button>
      {{/ contact}}
      {{^ contact}}
      <label for="username">firstname</label>
      <input type="text" placeholder="firstname" name="firstname" required />

      <label for="lastname">lastname</label>
      <input type="text" placeholder="lastname" name="lastname" required />

      <label for="street">street</label>
      <input type="text" placeholder="street" name="street" />

      <label for="city">city</label>
      <input type="text" placeholder="city" name="city" />

      <label for="zip">zip</label>
      <input type="text" placeholder="zip" name="zip" />

      <label for="country">country</label>
      <input type="text" placeholder="country" name="country" />

      <label for="street">phone</label>
      <input type="tel" placeholder="phone" name="phone" />

      <label for="street">mail</label>
      <input type="eamil" placeholder="mail" name="mail" />

      <button class="btn blur btn-fluid">Add</button>
      {{/ contact}}
    </form>
  </div>
</div>
{{>footer.html}}
