{{>header.html}}
<div class="form-page">
  <div class="form blur shadow">
    <form id="login" method="post">
      <label for="username">Username</label>
      <input type="text" placeholder="username" name="username" required />
      <label for="password">Password</label>
      <input type="password" placeholder="password" name="password" required />
      <button class="btn blur btn-fluid">login</button>
      <p class="message">
        Not registered? <a onclick="switchSignup()">Sign up</a>
      </p>
    </form>
    <form id="signup" method="post">
      <label for="username">Username</label>
      <input type="text" placeholder="username" name="username" required />
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          placeholder="password"
          name="password"
          pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,20}$"
          oninvalid="setCustomValidity('Must be min. 8 chars, one capital and one number')"
          oninput="setCustomValidity('')"
          required
        />
      <label for="confirm-password">confirm password</label>
      <input
        id="confirm-password"
        type="password"
        placeholder="confirm password"
        name="confirm-password"
        pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,20}$"
        required
      />
      <button class="btn blur btn-fluid">Signup</button>
      <p class="message">
        Already registered? <a onclick="switchLogin()">Login</a>
      </p>
    </form>
  </div>
</div>
{{>footer.html}}
