{{>header.html}}
<div class="notfound blur shadow">
  <img src="/assets/uwu.png" alt="uwu" width="800px"/>
  <h1>
    Oopsie Woopsie! UwU We made a fucky wucky!! A wittle fucko boingo! The code
    monkeys at our headquarters are working VEWY HAWD to ﬁx this!
  </h1>
</div>
{{>footer.html}}
